<div class="products-container">
    {{#each products}}
    <div class="products-box">
        <div class="products-card">
        <p>{{this.title}}</p>
        <p>{{this.price}}</p>
        <img src={{this.thumbnail}} />
    </div>
    </div>
    {{/each}}
</div>
